* {
  margin: 0;
  padding: 0;
}

.hide_overflow {
  overflow-x: hidden;
}

body {
  font-size: 62.5%;
  font-family: "Philosopher", sans-serif;
}

.style_heading {
  font-family: "Tangerine", cursive;
}

.heading {
  font-family: "Tangerine", cursive;
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

.heading-1 {
  font-family: "Tangerine", cursive;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.special {
  font-family: "Tangerine", cursive;
  font-size: 3rem;
  /* line-height: 1rem; */
  letter-spacing: 0.2rem;
}

.underline {
  border-bottom: 0.4rem solid rgba(205, 1, 1, 0.827);
}

.underline-1 {
  border-bottom: 0.2rem solid rgba(205, 1, 1, 0.827);
}

.pera {
  font-size: 0.9rem;
}

.w-90 {
  width: 90%;
  margin: auto;
}

.aactive {
  color: red;
  background-color: red;
}
/* global style end ---------------------------------------- */

.logo {
  width: 3rem;
}

.nav-link {
  font-size: 0.9rem;
}

.myCarousel {
  margin: auto;
  min-height: 100vh;
}

.imgCarousel {
  min-height: 100vh;
  max-height: 100vh;
  object-fit: cover;
}

.HeaderLast img {
  height: 50vh;
}

.img_container__header {
  position: relative;
  width: 100%;
}

.img_container__header:hover img {
  filter: brightness(60%);
  transition: all 0.5s;
  z-index: -10;
}

.navLink__header {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.3s;
  z-index: 10;
}
.img_container__header:hover .navLink__header {
  opacity: 1;
  bottom: 50%;
}

.details_header__products {
  position: absolute;
  bottom: 0%;
  left: 50%;

  transform: translate(-50%, -0%);
  width: inherit;
  opacity: 0;
  transition: all 0.5s;
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: bottom;
  align-self: center;
}

.details_header__products > p {
  color: white;
}

.img_container__header:hover .details_header__products {
  opacity: 1;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -0%);
  font-size: 1rem;
}

/* header part end ------------------------- */

/* single product start////////////////////////////// */

.SingleProduct__imgContainer {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SingleProduct__imgContainer img {
  height: 100%;
  background-size: cover;
}

.checkColor {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 0.1rem;
}

.singleProduct__count {
  display: flex;
  background-color: red;
}

.counter {
  display: flex;
}

.btn_style {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  padding: 0;
  opacity: 0.5;
  margin: 0 5px;
  border: 1px solid rgba(29, 26, 26, 0.605);
  transition: all 0.4s;
}

.btn_style:hover {
  opacity: 1;
}

.btn_active {
  opacity: 1;
}

/* single product end////////////////////////////// */

/* dealof the weak ------------------------- */

/* .perallexImg {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.384) 60%
    ),
    url(./img/combo.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
} */

/* factor-------------- */

.myIcon {
  font-size: 2.5rem;
}

/* footer---------- */

.footerIcons {
  font-size: 1.2rem;
}

/* ////////////////////about us //////////////////// */

.storeImg {
  background: url(./img/bg10.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* //////////////////////contact/////////////// */

.mymap {
  height: 50vh;
  width: 80vw;
  margin: 0 auto;
}

/* /////////////////ADD TO CART ///////////////////////////// */

/* /////////////////MEDIA QUERY /////////////////////////////// */

@media only screen and (max-width: 576px) {
  .my_padding {
    padding: 5px !important;
    border: none !important;
    /* font-size: 8px !important; */
  }

  .cart_hide {
    display: none;
  }

  .size {
    font-size: 25px;
  }

  .img-container--cart {
    width: 50px !important;
  }
}

@media only screen and (max-width: 765px) {
  .size {
    font-size: 30px;
  }
  .my_padding {
    padding: 1px 6px !important;
    background-color: black;
    color: white;
    /* font-size: 8px !important; */
  }
}

/* ///////////// cart incon///////////// */

.cart_icon {
  position: fixed;
  top: 5%;
  right: 2%;
  z-index: 10000;
  background-color: white;
  padding: 6px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_cart {
  font-size: 15px;
  height: 5px;
  /* color: white; */
}

/* loading   */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  z-index: 999;
  position: fixed;
}

.img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.mytext {
  position: relative;
}

.text {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  background-color: rgba(240, 248, 255, 0.477);
  transform: translate(-50%, -50%);
  font-weight: 500;
}

/*my animation */

.hover_shadow{
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.115);
  transition: all .5s;
}
.hover_shadow:hover{
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.273);
  /* transition: all 1s; */
}