* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: "Philosopher", sans-serif;
}


.heading {
  font-family: "Tangerine", cursive;
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

.heading-1 {
  font-family: "Tangerine", cursive;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}



.special {
  font-family: "Tangerine", cursive;
  font-size: 3rem;
  /* line-height: 1rem; */
  letter-spacing: 0.2rem;
}

.underline {
  border-bottom: 0.4rem solid rgba(205, 1, 1, 0.827);
}

.underline-1 {
  border-bottom: 0.2rem solid rgba(205, 1, 1, 0.827);
}

.pera{
  font-size: .9rem;
}


.aactive {
  color: red;
  background-color: red;
}
/* global style end ---------------------------------------- */


.logo {
  width: 3rem;
}

.nav-link {
  font-size: 0.9rem;
}

.myCarousel {
  margin: auto;
  min-height: 100vh;
}

.imgCarousel {
  min-height: 100vh;
  max-height: 100vh;
  object-fit: cover;
}

.HeaderLast img {
  height: 50vh;
}

.img_container__header {
  position: relative;
  width: 100%;
}

.img_container__header:hover img{
 filter: brightness(60%);
  transition: all .5s;
  z-index: -10;
}

.navLink__header {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.3s;
  z-index: 10;
}
.img_container__header:hover .navLink__header {
  opacity: 1;
  bottom: 50%;
}

.details_header__products {
  position: absolute;
  bottom: 0%;
  left: 50%;

  transform: translate(-50%, -0%);
  width: inherit;
  opacity: 0;
  transition: all 0.5s;
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: bottom;
  align-self: center;
}

.details_header__products > p {
  color: white;
}

.img_container__header:hover .details_header__products {
  opacity: 1;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -0%);
  font-size: 1rem;
}





/* header part end ------------------------- */

/* single product start////////////////////////////// */

.SingleProduct__imgContainer{
height: 60vh;
display: flex;
justify-content: center;
align-items: center;
}

.SingleProduct__imgContainer img{
  height: 100%;
  background-size: cover;

}

.red{
  background-color: red;
}

.singleProduct__count{
  display: flex;
  background-color: red;
}

.counter{
  display: flex;
}

/* single product end////////////////////////////// */


/* dealof the weak ------------------------- */

.DealOftheWeak {
  width: 95vw;
  height: 60vh;
}

.perallexImg {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.384) 60%
    ),
    url(./img/combo.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* factor-------------- */

.myIcon {
  font-size: 2.5rem;
}

/* footer---------- */

.footerIcons {
  font-size: 1.2rem;
}

/* ////////////////////about us //////////////////// */

.storeImg {
  background: url(./img/bg10.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* //////////////////////contact/////////////// */

.mymap {
  height: 50vh;
  width: 80vw;
  margin: 0 auto;
}
